body {
    font: 20px JetBrains Mono, sans-serif;
    line-height: 1.8;
    color: #000000;
  }
  p {font-size: 12px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: #8e9d8c; /* Green */
    color: #000000;
  }
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
    padding-bottom: 200px;
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #000000;
    font-weight: 600;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    background-color: #ffffff;
  }
  .navbar-nav li a:active {
    color: #000000;
  }
  .navbar-nav  li a:hover {
    color: #8e9d8c !important;
  }
  .navbar-brand {
    font-family: unifrakturmaguntia;
    font-size: 36px;
    color:#000000;
  }
  .btn{
    background-color: #8e9d8c;
    color: #000000;
  }
  .fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: #ffffff;
    color: #8e9d8c;
  }
  h2 {
    font-size: 14px;
    font-weight: 300;
  }
  h1 {
    text-decoration: underline;
    text-decoration-color: #8e9d8c;
    text-underline-offset: 20%;
  }
  h3 {
    text-decoration: underline;
    text-decoration-color: #8e9d8c;
    text-underline-offset: 20%;
  }
  #contactform {
    text-align: center;
    margin: auto;
    width: 25vw;
  }
  #emaillabel, #namelabel, #messagelabel {
    font-size: 12px;
  }
  .form-label {
    font-size: 12px;
  }